<nav id="mobile-nav">
  <% for (var i in theme.menu){ %>
    <a href="<%- url_for(theme.menu[i]) %>" class="mobile-nav-link"><%= i %></a>
  <% } %>
  <a href="http://m.codefilled.com/" class="mobile-nav-link">Chat Room</a>
  <a href="http://demo.codefilled.com/" class="mobile-nav-link">Demo</a>
</nav>